<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>iPadLeft</string>

    <key>CFBundleIdentifier</key>
    <string>com.example.iPadLeft</string>

    <key>CFBundleName</key>
    <string>iPad Left</string>

    <key>CFBundleDisplayName</key>
    <string>iPad Left</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

	<!-- <key>CFBundleIconFile</key> -->
	<!-- <string>iPad Left.icns</string> -->
</dict>
</plist>