<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleAllowMixedLocalizations</key>
	<true/>

	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

    <key>CFBundleExecutable</key>
    <string>iPadRight</string>

    <key>CFBundleIdentifier</key>
    <string>com.example.iPadRight</string>

    <key>CFBundleName</key>
    <string>iPadRight</string>

    <key>CFBundleDisplayName</key>
    <string>iPad Right</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>LSBackgroundOnly</key>
    <true/>

	<!-- <key>CFBundleIconFile</key> -->
	<!-- <string>iPad Right.icns</string> -->
</dict>
</plist>